{% extends "base2.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consulta Cadastros</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/style2.css"> --> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<form class="form" method="" action="" style="width: fit-content;">
      <div class="tlaregistro">
          <div style="text-align: center;">
            <a href="https://www.casadacriancaitaporanga.com.br/" target="_blank"><img class="imglogin" 
               src="../static/img/logo.png" alt=""></a>
            <h2 style="color: black;">Consulta Cadastro de Entidade</h2>
          </div>
             
          <div style="text-align: left;">
              <button type="button" style=" width: 100px;">
                   <a href="{{ url_for('main.profile') }}" 
                      style="text-decoration:none;"><b>Voltar</b></a>
              </button>
          </div>

<table border="1" style="border-collapse:collapse; width:100%; color: black; text-align: left; margin-top: 15px;">
    
        {% for dado in entidade %}

    <tbody>
      <tr> <td>ID</td> <td style="text-indent: 5px;">{{ dado.id }}</td> </tr>
      <tr> <td>ENTIDADE</td> <td style="text-indent: 5px;">{{ dado.nome_entidade }}</td> </tr>
      <tr> <td>CNPJ</td> <td style="text-indent: 5px;">{{ dado.cnpj }}</td> </tr>
      <tr> <td>ENDEREÇO</td><td style="text-indent: 5px;">{{ dado.rua }}, nº {{ dado.numero }}, Bairro {{ dado.bairro }} </td></tr>
      <tr> <td>CIDADE</td> <td style="text-indent: 5px;">{{ dado.cidade }}-{{ dado.estado }}</td> </tr>
      <tr> <td>EMAIL</td> <td style="text-indent: 5px;">{{ dado.email }}</td> </tr>
      <tr> <td>TELEFONE</td> <td style="text-indent: 5px;">{{ dado.telefone }}</td> </tr>
      <tr>  
           <td style=" text-align: center;">Editar</td>    
           <td style=" text-align: center;">
              <a href="/excluir3/{{ dado.id }}" style="text-decoration: none;">Remover</a>
              <a href="/atualizar3/{{ dado.id }}" style="text-decoration: none;">Alterar</a>
           </td>
      </tr>
    </tbody>
        {% endfor %}
</table>
      </div>
    </form>
</body>
</html> 
{% endblock %}   