{% extends "base2.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Relatorio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/style2.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	  <form class="form" name="rel2" action="" method="POST" style="width: 445px; padding: 90px;">
      <div class="tlaregistro">
          <div style="text-align: center;">
            <a href="https://www.casadacriancaitaporanga.com.br/" target="_blank"><img class="imglogin" src="../static/img/logo.png" alt=""></a>
            <h2 style="color: black;">Relatório do Caixa</h2>
          </div>

          <div class="tlaregistro-grupo" style="text-align: center;">
              <label autofocus>Selecione o Mês e o Ano</label>
              <select name="mes" style="height: 40px;">
               <option value="#" style="width: 50px;" required="">Mês</option>
               <option value="01">01</option>
               <option value="02">02</option>
               <option value="03">03</option>
               <option value="04">04</option>
               <option value="05">05</option>
               <option value="06">06</option>
               <option value="07">07</option>
               <option value="08">08</option>
               <option value="09">09</option>
               <option value="10">10</option>
               <option value="11">11</option>
               <option value="12">12</option>
              </select>
              <h style="color: #000000;">de</h> 
              <select name="ano" style="height: 40px;" required="">
               <option value="#" style="width: 50px;">Ano</option>
               <option value="2020">2020</option>
               <option value="2021">2021</option>
               <option value="2022">2022</option>
               <option value="2023">2023</option>
               <option value="2024">2024</option>
               <option value="2025">2025</option>
               <option value="2026">2026</option>
               <option value="2027">2027</option>
               <option value="2028">2028</option>
               <option value="2029">2029</option>
               <option value="2030">2030</option>
              </select>
          </div>

          <div class="tlaregistro-grupo" style="text-align: center;">
             <input type="hidden" name="recurso" value="Caixa" required="">
           </div>
         
          <div class="card-group btn" style="padding: 10px;">
              {% if current_user.is_authenticated %}
              <button type="submit" style=" width: 100px;"><b>Gerar</b></button>
              <button type="reset" style=" width: 100px;" ><b>Limpar</b></button>
              <button type="button" style=" width: 100px"><a href="{{ url_for('main.profile') }}" style="text-decoration:none; color: black;">
                <b>Cancelar</b></a></button>
              {% endif %}
          </div>

      </div>
    </form>
</body>
</html> 
{% endblock %}   