<!-- templates/signup.html -->

{% extends "base2.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/style2.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1 style="background-color: rgb(18, 144, 255); font: 25pt Helvetica; color: rgb(250, 250, 250); border:none;">Faça seu Cadastro</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                <script>
                    alert('E-mail já cadastrado')
                </script>
                 <h3 style="color: rgb(116, 6, 6) ">Tente outro e-mail ou vá para a página de <a href="{{ url_for('auth.login') }}">login</a>.</h3>
            </div>        
        {% endif %}
        {% endwith %}

    
    <form class="form" method="POST" action="/signup" style="width: 440px">
        <div class="card">
          <div class="card-top">
            <a href="https://www.casadacriancaitaporanga.com.br/" target="_blank"><img class="imglogin" src="../static/img/logo.png" alt=""></a>
          </div>

          <div class="card-group">
              <label style="text-align: left;">Email</label>
              <input type="email" name="email" placeholder="Digite seu email" autofocus="" required="">
          </div>

          <div class="card-group">
              <label style="text-align: left;">Nome</label>
              <input type="text" name="name" placeholder="Digite seu nome" autofocus="" required="">
          </div>

          <div class="card-group">
              <label style="text-align: left;">Senha</label>
              <input type="password" name="password" placeholder="Digite sua senha" required="">
          </div>

          <div class="card-group btn">
              <button><b>Cadastrar</b></button>
          </div>

        </div>
    </form>
  </div>
</body>
</html>
{% endblock %}

                       

            

            
        
    
